{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="heading-block fancy-title nobottomborder">
    <table class="table" style="table-layout: auto;">
        <tr>
            <td width="60%"><h4 style="padding-top: 10px;">Detales do cliente</h4></td>
            <td align="right"><a href="{% url 'list_customer' %}"
                     class="button button-small button-circle button-border button-red">Voltar</a></td>
        </tr>
    </table>
</div>

<div class="col-12">
    <div class="row g-0 align-items-stretch rounded shadow">
        <div class="col-lg-12 d-flex justify-content-center flex-column rounded-end"
             style="padding: 20px 20px">
            <h3>{{object.name}} - {{object.id_printable}}</h3>
            <table class="table" style="table-layout:auto;">
                <tr>
                    <td>Razão Social: {{object.corporate_name}}
                        <a href="www.google.com" data-bs-toggle="modal" data-bs-target="#update_corp_name">
                            <i class="icon-line-open" style="color:#F98708;"></i></a>
                    </td>
                    <td>Última alteração cadastral: {{object.modification_date|date:"d/m/Y"}}</td>
                    {% if object.observation %}
                    <td>Observação: {{object.observation}}</td>
                    {% endif %}
                </tr>
            </table>
            <div class="slider-features d-none d-sm-block my-3">
                <ul class="list-unstyled">
                    <li class="d-inline-block me-4">
                        <img src="{% static 'application/icons/calendar.png' %}" alt="Timer" width="30">
                        <h5 class="mb-0">{{object.creation_date|date:"d/m/Y"}}</h5>
                    </li>

                    <li class="d-inline-block me-4">
                        <img src="{% static 'application/icons/folders.png' %}" alt="ingredients" width="30">
                        <h5 class="mb-0">{{1}}</h5>
                    </li>

                    <li class="d-inline-block">
                        <img src="{% static 'application/icons/treasure.png' %}" alt="kcal" width="30">
                        <h5 class="mb-0">{{75}}</h5>
                    </li>
                </ul>
            </div>
            <div><a href="demos/recipes/recipe-single.html" class="button button-circle button-large m-0 fw-semibold nott ls0 text-end">View Recipe <i class="icon-angle-right"></i></a></div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="update_corp_name" tabindex="-1" role="dialog" aria-labelledby="update_corp_name_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="update_corp_name_label">Alterar nome do cliente</h4>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <label for="new_corporate_name">Novo nome</label>
                <input type="text" name="new_corporate_name" id="corporate_name"
                       class="form-control required" value="{{object.corporate_name}}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}