<tr><th><label for="id_comp_id">CNPJ / CPF:</label></th><td>
  <input type="text" name="comp_id" maxlength="20" required id="id_comp_id"></td></tr>
<tr><th><label for="id_name">Nome:</label></th><td>
  <input type="text" name="name" maxlength="100" required id="id_name"></td></tr>
<tr><th><label for="id_type_of">Tipo:</label></th><td>
  <select name="type_of" id="id_type_of">
  <option value="1" selected>Jurídica</option>

  <option value="2">Física</option>

</select></td></tr>
<tr><th><label for="id_corporate_name">Razão Social:</label></th><td><input type="text" name="corporate_name" maxlength="100" required id="id_corporate_name"></td></tr>
<tr><th><label for="id_state_subscription">Inscricao Estadual:</label></th><td>
  <input type="text" name="state_subscription" value="00000000" maxlength="100" id="id_state_subscription"></td></tr>


<tr><th><label for="id_city_subscription">Inscricao Municipal:</label></th><td><input type="text" name="city_subscription" value="00000000" maxlength="100" id="id_city_subscription"></td></tr>
<tr><th><label for="id_site">Site:</label></th><td><input type="text" name="site" value="não cadastrado" maxlength="100" required id="id_site"></td></tr>