{% extends 'base.html' %}
{% block content %}
<div class="heading-block fancy-title nobottomborder">
    <table class="table">
        <tr>
			<td width="90%"><h4 style="padding-top: 10px;">Novo Contato de {{customer.nome}}</h4></td>
			<td align="right"><a href="{% url 'view_customer' customer.pk %}#tab-contact"
                     class="button button-small button-circle button-border button-red">Cancelar</a></td>
        </tr>
    </table>
</div>

<!--<div class="form-result"></div>-->

<div class="row">
	<div class="col-lg">
		<form id="customer-contatc-form" class="row" action="#" method="post" enctype="multipart/form-data">
			{{ form.non_field_errors }}
			{% if form.errors %}
			<div class="style-msg errormsg">
				<div class="sb-msg"  style="padding-bottom:0;">
					{{ form.comp_id.errors }}
				</div>
			</div>
			{% endif %}
			{% csrf_token %}
			<div class="form-process">
				<div class="css3-spinner">
					<div class="css3-spinner-scaler"></div>
				</div>
			</div>
			<div class="col-12">
				<div class="card bg-light">
					<div class="card-body">
						<div class="row">
							<input type="hidden" name="company" value="{{company}}">
							<input type="hidden" name="type_of" value="1">
							<input type="hidden" name="customer" value="{{customer.pk}}">
							<div class="col-6 form-group">
								<label for="name">Nome<small class="text-danger">*</small></label>
								<input type="text" name="name" id="name" class="form-control" value="" required>
							</div>
							<div class="divider divider-rounded divider-center"><i class="icon-map-marker"></i></div>
							<div class="col-6 form-group">
								<label for="estado">Estado</label>
								<select name="estado" class="form-select" id="estado_ddl" onchange="filtra_cidade()">
									<option value="" selected>-- Estado --</option>
									{% for item in states %}
									<option value="{{item.pk}}">{{item}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-6 form-group">
								<label for="cidade">Cidade</label>
								<select name="cidade" class="form-select" id="cidade_ddl">
									<option value="" selected>-- Cidade --</option>
								</select>
							</div>
							<div class="col-md-12 form-group">
								<label for="street">Rua</label>
								<input type="text" name="street" id="street_id" class="form-control"
									   value="" placeholder="">
							</div>
							<div class="col-md-6 form-group">
								<label for="number">Número</label>
								<input type="text" name="number" id="number_id" class="form-control"
									   value="" placeholder="">
							</div>
							<div class="col-md-6 form-group">
								<label for="further_info">Complemento</label>
								<input type="text" name="further_info" id="further_info_id" class="form-control"
									   value="" placeholder="">
							</div>
							<div class="col-md-6 form-group">
								<label for="neighborhood">Bairro</label>
								<input type="text" name="neighborhood" id="neighborhood_id" class="form-control"
									   value="" placeholder="">
							</div>
							<div class="col-md-6 form-group">
								<label for="zip_code">CEP</label>
								<input type="text" name="zip_code" id="zip_code_id" class="form-control zipcode"
									   value="" placeholder="Utilize apenas números">
							</div>
							<div class="col-md-6 form-group">
								<label for="phone">Telefone</label>
								<input type="text" name="phone" id="cust-phone" class="form-control phone"
									   value="" placeholder="Utilize apenas números">
							</div>
							<div class="col-md-6 form-group">
								<label for="email">E-mail</label>
								<input type="text" name="email" id="email_id" class="form-control"
									   value="" placeholder="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6">
				<button type="submit" name="customer-contact-submit" style="margin: 15px;"
						class="button button-small button-circle button-border">Salvar</button>
			</div>

		</form>

	</div>

</div>

{% endblock %}