{% extends 'base.html' %}
{% block content %}
<div class="heading-block fancy-title nobottomborder">
    <table class="table">
        <tr>
			<td width="90%"><h4 style="padding-top: 10px;">Novo {{type_of}}</h4></td>
			<td align="right"><a href="{% url 'list_contract' type_of_n %}"
                     class="button button-small button-circle button-border button-red">Cancelar</a></td>
        </tr>
    </table>
</div>

<div class="row">
	<div class="col-lg">
		<form id="contract-form" class="row" action="#" method="post" enctype="multipart/form-data">
			{{ form.non_field_errors }}
			{% if form.errors %}
			<div class="style-msg errormsg">
				<div class="sb-msg"  style="padding-bottom:0;">
					{{ form.comp_id.errors }}
				</div>
			</div>
			{% endif %}
			{% csrf_token %}
			<div class="form-process">
				<div class="css3-spinner">
					<div class="css3-spinner-scaler"></div>
				</div>
			</div>
			<div class="col-12">
				<div class="card bg-light">
					<div class="card-body">
						<div class="row">
							<input type="hidden" name="company" value="{{company}}">
							<input type="hidden" name="type_of" value="{{type_of_n}}">
							<input type="hidden" name="customer" value="{{customer.id}}">
							<div class="col-6 form-group">
								<label for="customer_name">Nome / Razão Social</label>
								<input type="text" name="customer_name" id="customer_name"
									   class="form-control required" value="{{customer.corporate_name}}" disabled>
							</div>
							<div class="col-6 form-group">
								<label for="">CNPJ / CPF</label>
								<input type="text" name="comp_id"
									   class="form-control required" value="{{customer.id_printable}}" disabled>
							</div>
							<div class="col-md-6 bottommargin-sm">
								<label for="">Data de início</label>
								<input type="text" value="" class="form-control text-start component-datepicker today"
									   placeholder="MM/DD/YYYY" name="start_date">
							</div>
							<div class="col-md-6 bottommargin-sm">
								<label for="">Highlight Today</label>
								<input type="text" value="" class="form-control text-start datepicker today"
									   placeholder="MM/DD/YYYY">
							</div>
							<div class="col-12 form-group">
								<textarea name="observations" id="obs_id" class="form-control" cols="30" rows="5"
										  maxlength="1000" style="resize: none;" onkeyup="countChar(this)"></textarea>
								<div id="charNum">1000</div>
							</div>
							<div class="col-md-6 bottommargin-sm">
								<label for="">Default Date</label>
								<input type="text" value="" class="form-control text-start component-datepicker default" placeholder="MM/DD/YYYY">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6">
				<button type="submit" name="customer-submit" style="margin: 15px;"
						class="button button-small button-circle button-border">Salvar</button>
			</div>

		</form>

	</div>

</div>

{% endblock %}